.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    object-fit: contain;
    .contacto__titulo{
        font-size: 80px;
        text-shadow: $titulo-principal-shadow;
    }
    .contacto__subtitulo {
        text-align: center;
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
        text-shadow: 0 0 0.9em rgb(231, 218, 43);
        }
    
    .contacto__links {
        display: flex;
        flex-direction: row;
        align-items:center;
        }
    .imagen__whatsapp {
        height: 200px;
        width: 100%;
        object-fit: cover;  
        padding: 10px;
        filter: drop-shadow(0px 0px 30px rgb(4, 187, 10));
        &:hover{
            filter: drop-shadow(0px 0px 30px rgb(1, 255, 1));
        }
        }
    .imagen__instagram {
        height: 200px;
        width: 100%;
        object-fit: cover;
        padding: 10px;
        filter: drop-shadow(0px 0px 30px rgb(187, 4, 141));
        &:hover{            
        filter: drop-shadow(0px 0px 30px rgb(255, 0, 191));
        }
        }
    }
.contacto_form{
    .contacto__subtitulo {
        text-align: center;
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
        text-shadow: 0 0 0.9em rgb(231, 218, 43);
        }
    .btn{
        background-color: rgb(77, 67, 2);
        color: aliceblue;
        &:hover{
            color: rgb(225, 210, 122);
            background-color: rgb(163, 142, 4);
            filter: drop-shadow(0px 0px 20px rgb(198, 122, 2));
    }
}
}


    @media (max-width:576px){
        .contacto__titulo {
            font-size: 60px;
        }
        .contacto__subtitulo {
            font-size: 35px;
            margin: 0 6px;
        }
        .imagen__whatsapp {
            height: 150px;
            width: 100%;
        }
        .imagen__instagram {
            height: 150px;
            width: 100%;
            margin: 50px 2px;
        }
}