.portada {
  width: auto;
  height: 600px;
  background-image: url(../img/portada.jpg);
  background-size:cover;
  background-position: center;
  .texto-portada {        
    height: 200px;
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .container-fluid{
    background-color: rgba(0, 0, 0, 0.726);
    .texto-portada__nombre {
      font-size: 70px;
    }
    .texto-portada__bienvenidos {
      font-size: 35px;
    }
  }
  
//Media Qwerys
@media (max-width: 576px) {
  .portada {
    background-image: url(/img/portada500px.jpg);
    }
    .texto-portada {
      height: 1200px;
      width: 100%;
      padding: 70% 30%;
      position: unset;
    }
}

@media (min-width: 577px) and (max-width: 770px){
  .portada {
    background-image: url(/img/portada800px.jpg);
  }
  .texto-portada {
    height: 1200px;
    width: 100%;
    padding-top: 60%;
    background-color: rgba(0, 0, 0, 0.643);
  }
}
}

